h1 {
  border: solid 1px #839cbb;
  font-size: 40px;
  padding: 6px;
  border-radius: 20px;
  background-color: #839cbb;
  text-align: center;
}

h2 {
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 20px;
}
